h1 {
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.25;
}

h1.first-line {
    color: #e1ffff;
}

h1.second-line {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(0deg, #2c8080 0%, #e1ffff 80%);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 1000px;
    justify-content: start;
    padding-top: 170px;
    margin-bottom: 230px;
    align-items: center;

}

.hero-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.hero-title {
    display: flex;
    flex-direction: column;
}

.hero-text {
    color: #e1ffff;
    opacity: 0.5;
    font-size: 16px;
    margin: 0 100px;
}

.glow-grid {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    z-index: -1;
    opacity: 0.4;
    max-height: 100vh;

}


.glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(35% 30% at 50% 70%, #24a5a599 0%, #001010 99%);
    opacity: 0.85;
}

.glow-grid .grid-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.4;

}

.hero-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.hero-frame {
    font-size: 0px;
    color: #e1ffff1e;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 500px;
    border: 1px solid #e1ffff18;
    border-radius: 10px;
    background: #001010;
}

.hero-frame-top {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #e1ffff18;
    padding: 0 24px;
}

.hero-frame-top .ball {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    opacity: 0.5;
    cursor: pointer;
}

.hero-frame-top .ball-green {
    background: #29ce42;
}

.hero-frame-top .ball-yellow {
    background: #ffc32f;
}

.hero-frame-top .ball-red {
    background: #ff6158;
}
