$primary_color: #34efcd;
$secondary_color: #2ebda3;
$background_color: #2c2d2c;

.detail_wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.detail_panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #404141;
  border-radius: 15px 0 0 15px;
  padding: 0 20px 20px 20px;
  gap: 20px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.tab {
  color: #2c2d2c;
  background-color: #34efcd;
  padding: 8px 15px;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.item {
  max-width: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #34efcd;
  border-radius: 10px;
  text-align: center;
}

.item .item_title {
  padding: 2px 8px;
  border-bottom: 1px solid #34efcd;
  color: #34efcd;
}

.item p {
  padding: 8px;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}



.solucoes_resumo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.btn_solution {    
  border: 1px solid $primary_color;
  border-radius: 8px;
  background-color: $primary_color;
  color: $background_color;
  font-size: 18px;
  font-weight: 700;
  margin: 2px;
  padding: 4px 7px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

.btn_solution:hover {
  background-color: $background_color;
  color: $primary_color;
}


/**/

.none {
  display: none;
}

.dashboard-app .details-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-app .details {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  color: #001010;
  width: 75%;
  max-width: 720px;
  padding: 32px;
  border-radius: 15px;
  background: #fafafa;
  box-shadow: 0 6px 24px rgba(182, 186, 203, 0.3);
  gap: 24px;
}

.dashboard-app .details-head {
  display: flex;
  justify-content: space-between;
}

.dashboard-app .details-title {
  font-size: 20px;
  font-weight: 600;
}

.dashboard-app .details-ticket {
  display: flex;
  gap: 10px;
}

.dashboard-app .details-informations {
  display: flex;
  gap: 24px;
}

.dashboard-app .details-information{
  display: flex;
  flex-direction: column;
  border: 1px solid #00101010;
  padding: 22px 18px;
  border-radius: 10px;
  gap: 8px;
  flex: 1 1 0;
  align-items: start;
}

.details-info {
  display: flex;
  gap: 4px;
}

.description-label {
  font-size: 13px;
  font-weight: 500;
}

.description-text {
  font-size: 13px;
  font-weight: 300;
}

.details h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.details-activity {
  font-size: 13px;
  font-weight: 300;
}

.details-info-wrapper {
  display: flex;
  flex-direction: column;
}

.details-tickets {
  display: flex;
  gap: 15px;
}

.details-solutions {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.not-solutions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.not-solutions-text {
  font-size: 14px;
  font-weight: 300;
}

.not-solutions-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #24a4a5;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  color: #24a4a5;
}

.solution {
  display: flex;
  width: 100%;  
  justify-content: space-between;
}

.solution-text {
  display: flex;
  gap: 3px;
}

.solution-description {
  font-size: 15px;
  font-weight: 300;
}

.solution-number {
  width: 10px;
  font-size: 15px;
  font-weight: 300;
}

.solution-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border: 1px solid #24a4a5;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  color: #24a4a5;
}

.details-information-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 1 0;
}

.details-resolution {
  font-size: 13px;
  font-weight: 300;
}