$bg-header-color: #999999;
$padding: 10px;

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    width: 73%;
    margin: 20px auto;
    z-index: 1;
    border-radius: 100px;
    box-shadow: #00000010 0px 20px 25px -5px, #00000004 0px 10px 10px -5px;
    border: 1px solid #00000007;
    backdrop-filter: blur(5px);
}


ul {
    display: flex;
    gap: 5px;
    list-style: none;
    font-size: 16px;

}

nav {
    display: flex;
}

a {
    background: transparent;
    padding: 6px 12px;
    border-radius: 10px;
    transition: .2s;
    border: 1px solid transparent;
}


a:hover {
    background: #00000010;
}

a:active {
    border: 1px solid #000;
    color: #000000;

}

a.on {
    border: 1px solid #000;
}