.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnologias {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.tecnologia_wrapper {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2c8080;
    border-radius: 10px;
    padding: 10px;
}

.tecnologia_icon img{
    width: 32px;
    height: 32px;
}

.tecnologia_name {
    color: #fff;
    font-weight: 700;
}