footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid #e1ffff18;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 0;
    margin: 0 48px;
    max-width: 990px;
    width: 100%;
    opacity: 0.75;
}

.footer-content-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-content-bottom .copyright {
    font-size: 13px;
    font-weight: 100;
    color: #e1ffff;
}

.footer-content-bottom a {
    font-size: 13px;
    font-weight: 100;
    color: #e1ffff;
    text-decoration: none;
    transition: .4s;
}

.footer-content-bottom a:hover {
    color: #24a5a4;
}

.footer-content nav {
    display: flex;
    gap: 20px;
}