.card {
    position: relative;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    color: #e1ffff;
    border: 1px solid #e1ffff12;
    width: 100%;
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 24px;
    background-image: radial-gradient(45% 70% at 0% 0%, #24a5a565 0%, #001010 99%);
    transition: .5s;
    background-size: 100% 100%;
    width: 100%;
}


.card-inner:hover {
    transition: .5s;
    background-size: 120% 120%;
}

.card .grid-svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    height: 100%;
}

.card span {
    transition: 1s;
    display: flex;
    width: min-content;
    mask: linear-gradient(145deg, rgba(0, 0, 0, 10%) 0%, rgb(0 0 0 / 50%) 40%, rgb(0, 0, 0) 100%);
}

.card-inner:hover span  {
    scale: 1.05;
    mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%);
}


.card h3 {
    font-size: 17px;
    font-weight: 500;
    color: #e1ffff;
    text-transform: capitalize;
}

.card p {
    font-size: 14px;
    font-weight: 100;
    color: #e1ffff;
    opacity: 0.75;
}

