

$primary_color: #34efcd;
$secondary_color: #2ebda3;
$background_color: #222627;

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}


.dashboard-app {
  background: #f6f6f6;
}

.dashboard-app .content {
  max-width: 100%;
}

.dashboard-app .content-wrapper {
  margin: 0;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 22px 44px;
  position: sticky;
  min-width: 100%;
  background: #f6f6f6;
  z-index: 1;
}

.dashboard-header .logo {
    text-decoration: none;
    color: #24a5a4;
    display: flex;
    align-items: center;
    max-width: max-content;
}

.dashboard-header .logo span {
  margin-left: -1px;
  width: 50px;
  line-height: 10px;
  font-size: 11px;
  position: relative;
  font-weight: 300;
}

.dashboard-header .logo span::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  margin: auto;
  width: 1px;
  height: 90%;
  background: #24a5a499;
}

.dashboard-header .profile {
  display: flex;
  justify-content: center;
  border: 1px solid #24a5a499;
  border-radius: 100px;
  color: #24a5a4;
  height: 100%;
}


.dashboard-header .profile-icon {
  display: flex;
  justify-content: center;
  align-items: end;
  aspect-ratio:  1 / 1;
  border-radius: 100px;
  background: #24a5a4;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.dashboard-header .profile img {
  width: 100%;
  margin-bottom: -4px;
}


.dashboard-header .profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 8px;
  font-size: 12px;
  font-weight: 400;
}


.dashboard-inner {
  display: flex;
  height: 100%;
  overflow: auto;
}


.dashboard-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background: #f6f6f6;
  height: 100%;
}

.dashboard-left-content {
  margin-top: 78px;
  margin-left: 44px;
  padding-top: 36px;
  padding-right: 36px;
}

.dashboard-right {
  margin-left: 260px;
  width: 100%;
}

.dashboard-right-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 44px;
  padding-top: 36px;
  padding-left: 44px;
  padding-bottom: 12px;

}

.dashboard h2 {
  font-size: 20px; 
  font-weight: 500;
  color: #001010;
}

.dashboard .filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  gap: 32px;
}

.dashboard .filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  gap: 18px;
}

.dashboard select, .dashboard input {
  border: none;
  outline: none;
  font-size: 12px;
  color: #24a5a4;
  font-family: "Plus Jakarta Sans", Helvetica, sans-serif;
  width: 100%;
  background: none;
}

.dashboard .input-wrapper {
  padding: 10px 14px;
  border: 1px solid #24a5a4;
  border-radius: 10px;
  transition: .3s;
  outline: 3px solid transparent;
  flex: 1 1 0px;
}

.dashboard label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #24a5a4;
  font-size: 13px;
  font-weight: 500;
}

.dashboard .input-wrapper:focus-within {
  outline: 3px solid #24a5a575;
}

.dashboard ::placeholder {
  font-family: "Plus Jakarta Sans", Helvetica, sans-serif;
  font-size: 12px;
  color: #00101099;
}

.tickets-wrapper {
  display: flex;
  width: 100%;
  color: #001010;
  border-radius: 10px;
}

.tickets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
}

.ticket {
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 265px;
  background: #fafafa;
  box-shadow: 0 6px 24px rgba(182, 186, 203, 0.3);
  border: 1px solid #0010100c;
  position: relative;
  overflow: hidden;
}

.ticket-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 15px;
  line-height: 1;
  color: #001010;
  z-index: 1;
}

.ticket-top {
  display: flex;
  justify-content: space-between;
}

.ticket-main {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  gap: 5px;
}

.ticket-bottom {
  display: flex;
  justify-content: space-between;
}

.ticket-priority, .ticket-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #00101020;
  padding: 4px 6px;
  border-radius: 3px;
}

.priority-color {
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 1px;
}

.priority-color.baixo {
  background: #2bd38a;
}

.priority-color.médio {
  background: #c8d32b;
}

.priority-color.alto {
  background: #d32b2b;
}

.priority-color.planejamento {
  background: #001010;
}


.ticket-main .ticket-description .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.ticket-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

.ticket-local {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 11px;
  opacity: 0.6;
}

.ticket-time {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 10px;
  opacity: 0.6;
}

.ticket-id {
  font-size: 12px;
  font-weight: 200;
  opacity: 0.6;
}

.ticket-status {
  font-size: 12px;
  font-weight: 300;
}

.ticket-priority {
  font-size: 12px;
  font-weight: 300;
}


.tickets-not-found {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}


.ticket-button {
  opacity: 0;
  z-index: 1;
  transition: .3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
  border: 1px solid #24a5a499;
  border-radius: 6px;
  backdrop-filter: blur(1px);
}

.ticket-button-inner {
  padding: 4px;
  display: flex;
  background: #24a5a4;
  border-radius: 2px;
  margin: 18px;
  cursor: pointer;
}

.ticket:hover .ticket-button {
  opacity: 1;
}