$font-stack: Helvetica, sans-serif;
$font-color-1: #000;
$bg-color-1: #f5f5f5;


body {
    font-family: $font-stack;
    color: $font-color-1;
    background: $bg-color-1;
}

a {
    text-decoration: none;
    color: $font-color-1;
}